* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ff9494;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.player {
  margin-bottom: 50px;
}

.player__controls {
  display: flex;
  justify-content: center;
}

.player__button {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  background-image: url("play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.player__button--pause {
  background-image: url("pause.png");
}

.player__button.active {
  background-color: #0074d9;
  color: #fff;
}

.player__progress {
  height: 5px;
  background-color: #f5f5f5;
  position: relative;
}

.player__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #a85e5e;
  width: 0%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding {
  padding-block: 20px;
}

.playlist__item {
  margin-bottom: 10px;
}

.playlist__item a {
  display: block;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  color: #333;
  text-decoration: none;
}

.playlist__item a:hover {
  background-color: #a87e7e;
  color: #ffffff;
}

.playlist__item a.active-song {
  background-color: #a85e5e;
  color: #fff;
}
